@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@500&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@500&family=Signika:wght@500&family=Ubuntu:wght@500&display=swap');
@layer base{


    p{


        /* font-family: 'Open Sans', sans-serif;
        font-family: 'Oswald', sans-serif; */
        /* font-family: 'Open Sans', sans-serif;
        font-family: 'Oswald', sans-serif; */
        font-family: 'Ubuntu', sans-serif;

    }


    h1.logo{

        /* font-family: 'Open Sans', sans-serif; */
        /* font-family: 'Oswald', sans-serif; */
        /* font-family: 'Ubuntu', sans-serif*/
        font-family: 'Signika', sans-serif;

    }


}